/* delete extra css */

/* MyProject Standard Font Size in Vh 
3vh (small)
5vh (medium)
 7vh (large) */

/* -------------------------------- */
/* Common Css Style*/
* {
  margin: 0;
  padding: 0;
}
.containerheadertext {
  margin: 1vh;
  font-size: 3vh;
  margin-top: 5vh;
  margin-left: 6vh;
  color: aliceblue;
  text-transform: uppercase;
}
.paratext {
  font-size: 3vh;
  padding: 6vh;
  padding-bottom: 0;
  padding-top: 2vh;
}
/* ---------------------------------- */

body {
  background: linear-gradient(to top left, #031431 1%, #607178 30%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Header */
header {
  background-color: #007580;
  height: 20vh;
}
.headerText {
  color: wheat;
  text-align: center;
  padding: 3vh;
  font-size: 7vh;
}
img {
  width: 100%;
  height: 20vh;
}

/* Navigation */
.containerheadertextnav {
  margin: 1vh;
  font-size: 3vh;
  margin-top: 5vh;
  margin-left: 6vh;
  color: #fcfcfc;
  text-transform: uppercase;
}
nav {
  background-color: #22221c;
  width: 25%;
  height: 80vh;
  float: left;
}
ul {
  margin: 0;
  list-style-type: none;
  border-radius: 5px;
  padding: 5vh;
}

li a {
  background-color: #3b3b36;
  text-decoration: none;
  color: #888881;
  width: auto;
  display: block;
  padding: 2vh;
  padding-right: 1vh;
  padding-top: 0;
  margin: 1vh;
  margin-top: 0;
  font-size: 5vh;

  font-weight: bold;
}

/* Main */
main {
  width: 50%;
  height: 80vh;
  float: left;
}
video {
  width: 80%;

  padding: 6vh;
  margin-bottom: 0;
}
.containerheadertextmain {
  text-align: center;
  margin: 1vh;
  font-size: 6vh;
  margin-top: 5vh;
  font-weight: 900;

  color: rgb(154, 224, 222);
  text-transform: uppercase;
}

.mainul {
  list-style-type: disc;
  padding-left: 7vh;
  padding-top: 3vh;
}
.mainlia {
  /* background-color: #ddaaa3; */

  list-style-type: disc;
  color: black;
  border-radius: 1px;
  width: auto;

  padding: 2vh;
  padding-right: 1vh;
  padding-top: 0;
  margin: 1vh;
  margin-top: 0;
  font-size: 3vh;

  font-weight: bold;
}
/* Aside */

aside {
  background-color: #2e1f17;
  width: 25%;
  height: 80vh;
  float: left;
}
.asideul {
  list-style-type: disc;
  padding-left: 7vh;
  padding-top: 3vh;
}
.asidelia {
  background-color: #588197;
  text-decoration: none;
  color: #2f3b42;
  border-radius: 10px;
  width: auto;
  display: block;
  padding: 2vh;
  padding-right: 1vh;
  padding-top: 0;
  margin: 1vh;
  margin-top: 0;
  font-size: 3vh;

  font-weight: bold;
}
/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7vh;
  background-color: #1b0c01;
  color: white;
}

.footertext {
  margin: 1vh;
  font-size: 2.5vh;
  margin-top: 1vh;
  margin-left: 6vh;
}
